
<div class="panel-body">
    @*<div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Filter Package By Location:</label>
                @Html.DropDownListFor(m => m.aID, Model.AreaByPackageDistinct, "------- Select Package By Area -------", new { @class = "form-control", @id = "areaSelectList" })

            </div>
        </div>
    </div>*@

    <input type="hidden" value="@ViewBag.transId"id="hdntransId" />

    <div class="table-responsive">
        <table class="table table-condensed table-hover" id="tbl-maincourse" style="width: 100%;">
            <thead>
                <tr>

                    <th></th>

                    <th>Menu</th>
                    <th>Course</th>
                  
                </tr>
            </thead>
        </table>
    </div>

</div>

