@using SBOSys.ViewModel
@model PackageBookingViewModel
    

    <div class="box">
        <div class="box-header">
            <h3 class="box-title">MENUS:</h3>
            <div class="box-tools">
                <button id="add_maincourse" class="btn btn-sm btn-default" data-id="@Model.transactionId"><i class="fa fa-search"></i></button>
            </div>

        </div>
        <!--box-header-->
        <div class="box-body table-responsive no-padding" style="height: 330px;">
            <table class="table table-hover">
                @foreach (var menu in Model.BookMenuses)
                {
                    <tr>
                        <td>@menu.menu_name</td>

                        <td class="tools"><i class="fa fa-times" id="menu_remove" data-menuid="@menu.menuNo"></i></td>

                    </tr>
                }

                 
                  

            </table>
        </div>
        <!--box-body-->
    </div>

