@using SBOSysTac.ViewModel
@model CustomerViewModel
    

@Html.HiddenFor(m=>m.customerId,new {@id="customerId"})

<section class="invoice">
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-xs-6">
            <h2 class="page-header" style="margin-bottom: 15px; padding-bottom: 5px; border-bottom: 2px solid  #c8c8a6; color: #2f4f4f;">
                <i class="fa fa-address-card"></i> @Model.fullname
                  
            </h2>
        </div>
           
    </div>
    
    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-condensed table-hover" id="tbl-cusrecievables" style="width: 100%;">
                    <thead>
                    <tr>
                        <th>TRN #</th>
                        <th>EVENT DATE</th>
                        <th>EVENT</th>
                        <th>PACKAGE</th>
                        <th>AMOUNT DUE</th>
                        <th>PAYMENTS</th>
                        <th>UNPAID BALANCE</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tfoot style="background:#A9A9A9; font-size: 1.0em;">
                    <tr>
                        <th></th>
                        @*<td colspan='4' class="text-bold"> <span style="float: right;" id="totalPayment"></span> </td>*@
                        <th></th>
                        <th></th>
                        <th class="text-bold">TOTALS: </th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>

                    </tfoot>

                </table>
            </div>
        </div>
    </div>
</section>