

<div class="table-responsive">
    <table class="table table-condensed table-hover" id="tbl-cusrecievables" style="width: 100%;">
        <thead>
        <tr>
            <th>TRN #</th>
            <th>EVENT DATE</th>
            <th>EVENT</th>
            <th>PACKAGE</th>
            <th>AMOUNT DUE</th>
            <th>PAID AMOUNT</th>
            <th>UNPAID BALANCE</th>
            <th></th>
        </tr>
        </thead>
        <tfoot style="background:#A9A9A9; font-size: 1.0em;">
        <tr>
            <td></td>
            @*<td colspan='4' class="text-bold"> <span style="float: right;" id="totalPayment"></span> </td>*@
            <td></td>
            <td></td>
            <td class="text-bold">TOTALS: </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        </tfoot>

    </table>
</div>
