<table class="table table-condensed table-bordered table-hover" id="tbl_dashBooking" style="width: 100%;">
    
    <thead>
            <tr>

                <th>Customer</th>
                <th>Event</th>
                <th>Event Date/Time</th>
                <th>Package</th>
                <th>Package Amount Due</th>
                <th>Status</th>
            </tr>
    </thead>

</table>
