
<!-- Main content -->
<section class="content">
    <div class="error-page">
        <h2 class="headline text-yellow"> 401</h2>

        <div class="error-content">
            <h3><i class="fa fa-warning text-yellow"></i> Unauthorized Access denied.</h3>

            <p>
                You are not allowed to access this page,
                Meanwhile, you may return to <a href="@Url.Action("Index","Home")" class="text-bold text-blue ">Home</a>
            </p>

           
        </div>
        <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
</section>
<!-- /.content -->
