



<div class="pad margin">
    <div class="col-sm-12">
        <div class="row">
            <label class="col-sm-4">sadasd</label>
        </div>

        <div class="box box-primary">
            <div class="box-header with-border">

            </div>

            <div class="box-body">
                <div class="table-responsive">
                    <table class="table table-condensed table-hover" id="tblcusrecievablesReport" style="width: 100%;">
                        <thead>
                        <tr>
                            <th>TRN #</th>
                            <th>EVENT DATE</th>
                            <th>EVENT</th>
                            <th>PACKAGE</th>
                            <th>AMOUNT DUE</th>
                            <th>PAID AMOUNT</th>
                            <th>UNPAID BALANCE</th>
                           
                        </tr>
                        </thead>
                        <tfoot style="background: #A9A9A9; font-size: 1.0em;">
                        <tr>
                            <th></th>
                            @*<td colspan='4' class="text-bold"> <span style="float: right;" id="totalPayment"></span> </td>*@
                            <th></th>
                            <th></th>
                            <th class="text-bold">TOTALS: </th>
                            <th></th>
                            <th></th>
                            <th></th>
                          
                        </tr>

                        </tfoot>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

