
<div class="table-responsive">
    <table class="table table-condensed table-hover" id="tbl_salessummary" style="width: 100%;">
        <thead>
        <tr>
            
            <th>Account Name</th>
            <th>Event Date</th>
            <th>Particulars</th>
            @*<th>Reference</th>*@
            <th>Cash</th>
            <th>On Account</th>
        </tr>
        </thead>

        <tfoot>
        <tr>
            <th>Total</th>
            <th colspan="3" class="totalonCash">0.00</th>
            <th colspan="1" class="totalonAccn">0.00</th>
        </tr>
        </tfoot>
    </table>
</div>