
<div class="table-responsive">
    <table class="table table-condensed table-hover" id="tbl_bookingschedule" style="width: 100%;">
        <thead>
        <tr>
            
            <th>Event Date</th>
            <th>TRN #</th>
            <th>Client</th>
            <th>Event</th>
            <th>Venue</th>
            <th>Package</th>
            <th>Total Amt. Due</th>
        </tr>
        </thead>
        
        <tfoot style="font-size: 1.1em;">
        <tr>
            <td></td>
            @*<td colspan='4' class="text-bold"> <span style="float: right;" id="totalPayment"></span> </td>*@
            <td></td>
            <td></td>
            <td></td>
            <td class="text-bold">TOTALS: </td>
            <td></td>
            <td></td>
               
        </tr>

        </tfoot>

    </table>
</div>