<section class="content">
    
    <h3 class="gsearch">Search Results</h3>
    

    <div class="row">
        
        <div class="box-body no-padding">
            <table class="table table-condensed table-hover">
                <thead>
                <tr>
                    <th class="text-center">TABLE</th>
                    <th class="text-left">REFERENCE</th>
                    <th class="text-left">CONTROLLER</th>
                    <th class="text-left">LINK</th>
                </tr>
                </thead>
                
                <tbody>
                
                </tbody>

            </table>
        </div>

    </div>

</section>
