@using SBOSysTac.ViewModel
@model AddonsUpgrade_BookRegisterViewModel

@Html.HiddenFor(m =>m.BookTransId,new {@id= "transbookingId"})

<div class="panel-body">
    <div class="row">
        <div class="col-sm-8">
            <div class="form-group">
                <label>Filter Upgrades by Category:</label>
                @Html.DropDownListFor(m => m.addonsCatId, Model.selectlistAddonCat, "------- Select Upgrades/Addons By Category -------", new {@class = "form-control", @id = "selectlistcategoryaddons"})
           
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-condensed table-hover" id="tbl-addonsdetails" style="width: 100%;">
            <thead>
            <tr>
              
                @*<th>Addon-Id</th>*@
                <th>Category</th>
                <th>Addon Description</th>
                <th>Unit</th>
                <th>Amount</th>
                <th></th>
               
            </tr>
            </thead>
        </table>
    </div>
</div>
