#table_course_info.dataTables_info,#table_menu_length.dataTables_length {

    float: left;margin-top: 5px
}

#coursetop.row,
#menutop.row,
#customertop.row,
#payment_top.row,
#bookingtop.row{
    margin: 5px 0px 15px 0px;
}
#coursebottom.row,
#menubottom.row,
#payment_bottom.row,
#customerbuttom.row,
#bookingbottom.row {


    margin-top: 15px;
}
.top {
    display: inline;
}
.contactsupdown {
    margin-top: 9px;
    margin-bottom: 0px;
}

.required:after
{
    content: " *";
    font-size: 15px;
    font-weight: bold;
    color: Red;
    vertical-align: middle;
}
div.bottom {
    margin-top: 25px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
select:focus,
.uneditable-input:focus {
    border-color: rgba(126, 239, 104, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
    outline: 0 none;
}

.top-buffer {
    margin-top:10px;
    margin-bottom: 10px;
}


#table_customers,#table_course tbody tr {cursor:pointer;}

.selected, .selected > td {background-color:#54CFDD !important;}
.ex_highlight #dataTables1 tbody tr.even:hover, #dataTables1 tbody tr.even td.highlighted { background-color: #ECFFB3;}

.ex_highlight #dataTables1 tbody tr.odd:hover, #dataTables1 tbody tr.odd td.highlighted { background-color: #E6FF99; }

.select2-container--default .select2-selection--multiple .select2-selection__choice{ background-color:#6f6fc8}
.select2-container {
    width:100%;
}

.select2-container a.select2-choice {
    font-size: 14px;
    height: 38px;
    padding: 8px 12px;
    line-height: 1.42857;
}

.select2-container .select2-choice .select2-arrow {
    padding-top:6px;
}

/*.select2-dropdown{
    z-index: 3051;
}*/

.add-on.input-group-btn > .btn{
    border-left-width: 0;
    left: -2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.add-on .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #cccccc;
}

table.dataTable thead {
    background-color: #7dc89d;
}
table.dataTable tbody tr.even:hover,table.dataTable tbody tr.even td.highlighted {
    background-color: #ECFFB3;
}
table.dataTable tbody tr.odd:hover,table.dataTable tbody tr.odd td.highlighted {
    background-color: #E6FF99;
}
table.dataTable tr.even:hover {
    background-color: #ECFFB3;
}

/*table.dataTable tr.even:hover td.sorting_1{
    background-color: #DDFF75;
}
table.dataTable tr.even:hover td.sorting_2{
    background-color: #E7FF89;
}
table.dataTable tr.even:hover td.sorting_3{
    background-color: #E2FF89;
}*/


/*td,th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}*/
/*tr:nth-child(even) {
    background-color: #dddddd;
}*/

span.modal-package {

    cursor: pointer;
} 
.input-validation-error {
    border-color: rgba(126, 239, 104, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
    outline: 0 none;

}
/*#tbl_eventsBooking_filter.dataTables_filter input{
    width: 100%;
}*/
#tbl-maincourse_filter input{
   
    width: 750px;
   
}
#tbl_eventsBooking_filter input {
    width: 350px;
}

#table_logs_filter input {
    width: 350px;
}

#table_customers_filter input {
    width: 280px;
}

label.myErrorClass {
    color: red;
    font-size: 11px;
    display: block;
}
ul.myErrorClass input {
    color: #666 !important;
}
ul.myErrorClass, input.myErrorClass, select.myErrorClass {
    border-width: 1px !important;
    border-style: solid !important;
    border-color: #cc0000 !important;
    background-color: #f3d8d8 !important;
    background-position: 50% 50% !important;
    background-repeat: repeat !important;
}

#event_calendar .fc-event{
    box-shadow: 2px 2px 2px #989898;
}

#event_calendar .fc-agenda-axis, #event_calendar .fc-widget-header{
    background-color: #C2E6FF;
    border-color: #AED0EA;
    font-weight: bold;
    padding: 1.8px;
    /*border-radius: 3px;*/
}
#event_calendar .fc-today{
    background-color: #b3ff66;
}
/*#event_calendar .fc-content{
    background-color: #green;
    font-size: 80%;
}*/

.spinner {
    position: fixed;
    top: 60%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    text-align: center;
    z-index: 1234;
    overflow: auto;
    width: 100px;
    height: 102px;
}

div#spinn-loader {
    display: none;
    width: 200px;
    height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    background: url('../Images/Spinner-1.gif')no-repeat center white;
    /*background: url(../Images/ajax-spinloader2.gif) no-repeat center white;*/
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    font: normal 16px Tahoma, Geneva, sans-serif;
    border: 1px solid #666;
    margin-left: -50px;
    margin-top: -50px;
    z-index: 1234;
    overflow: auto;
}

.aeue {font:11pt Segoe UI !important;background-color:#0473C2;height:45px;border-bottom:2px solid white}

.aeue_in {font:11pt Segoe UI !important;background-color:#0473C2;height:45px;border-bottom:2px solid white}
.aeue_out {font:11pt Segoe UI !important;background-color:#1d8348;height:45px;border-bottom:2px solid white}

.booking_form1 {
    width: 600px;
}

.fc-day-grid-container.fc-scroller {
    height: auto!important;
    overflow-y: auto;
}

.div_wrapper {
    text-align: left;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.fc-event{
    cursor: pointer;
}

span.bookdetails ,td.bookdetails,tr.bookdetails { 
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
}
span.dash {
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
}

.total {
    border-top: 4px solid #999;
    border-bottom: 1px double #999;
    padding: 5px 0;
}
.transNo {
    font-size: 16px;
    
}
#txtcheckNo {
    width: 484px;
    margin-top: 12px;
}
p.menus {
    font:10.5pt Segoe UI !important;background-color:rgba(61,61,190,0.73);height:22px;
    font-weight: bold;
    color: blanchedalmond;
    border-radius: 2.5px;
    border-color: #e6ff99;
}
.unsigned {
    /*height: 100%;*/
    min-height: 650px;
    background-image: url('../Images/salslogo_PNG.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    background-color: white;
}
html {
    height: 100% !important;
}

table#tbl_dashBooking.dataTable thead { background-color:#29B6F6;font-size: 12px; }

div.titlehead {
    background-color: lightblue;
    padding-top: 2px;
    padding-bottom: 2px;
    border-style:solid;
    border-width: .2px;
    border-color:#b3adad;
    border-radius: 2px;
    margin-bottom: 5px;
    width: 400px;
    font-family:times, times new roman, serif;
}
h3.gsearch {
    border-bottom:1px solid #666;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
input:-moz-read-only { /* For Firefox */
    background-color: #ecff82;
}

input:read-only {
    background-color: #ecff82;
}

input#selectedcourse {
    line-height: 1.5em;
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-top:0px;
    margin-right: -18px;
    border: 1px solid rgb(192,192,192);
    border-radius: 0.25em;
    background: rgb(224,224,224);
    box-sizing:border-box;
}
input#selectedcourse:checked{
    width: 18px;
    height: 18px;
    border: 3px solid #00ff00;
    background: green;
    box-sizing:border-box;
}

.selectedcourse {
    font-size: 16px;
    color: #1B4F72;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family:courier, courier new, serif;
}

