
<div class="table-responsive">
    <table class="table table-condensed table-hover" id="tbl_salessummary" style="width: 100%;">
        <thead>
        <tr>
            <th>Event Date</th>
            <th>Account Name</th>
            <th>Reference</th>
            <th>Particulars</th>
            <th>Cash</th>
            <th>On Account</th>
        </tr>
        </thead>


    </table>
</div>