

<div class="table-responsive">
    <table class="table table-condensed table-hover" id="tbl-cusBookings" style="width: 100%;">
        <thead>
        <tr>
            <th>TRN #</th>
            <th>Event Date</th>
            <th>Event</th>
            <th>Venue</th>
            <th>Package</th>
            <th>Total Amt. Due</th>
        </tr>
        </thead>
        
        
    </table>
</div>